.touchable-element {
  touch-action: manipulation;
}

    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
    }
  
    body {
      background-size: 800%;
      background-repeat: no-repeat;
      background-position: center;
    }
  
    .container {
      text-align: center;
      padding-top: 20px;
    }
  
    .button {
      padding: 10px 20px;
      margin: 10px;
      cursor: pointer;
    }
  
